/* My Addon: Christmas Snow */
.side .md>blockquote:last-of-type,
.side .md>blockquote:last-of-type a,
.side .md>blockquote:last-of-type p {
	position: absolute;
	top: 0;
	bottom: 0;
	background-size: cover;
	left: -8px;
	right: 0;
	pointer-events: none;
        z-index: -1 !important;
}

.side .md>blockquote:last-of-type [href='#snow'] {
	display: block;
	height: 2000px;
	background-image: url(%%snow-sparse-flipped%%);
	animation: s 10s linear infinite;
	background-size: auto;
        z-index: -1 !important;
}

.side .md>blockquote:last-of-type p {
	overflow: hidden;
	left: -100px;
	right: -100px;
	perspective: 100px;
	margin: 0;
	animation: sw 5s cubic-bezier(.445, .05, .55, .95) infinite alternate;
	transform: translateX(-50px);
        z-index: -1 !important;
}

.side .md>blockquote:last-of-type p:nth-of-type(1) a {
	background-image: url(%%snow-dense%%);
	animation-duration: 12.5s;
        z-index: -1 !important;
        top: 500px;
}

.side .md>blockquote:last-of-type p:nth-of-type(4) a {
	animation-duration: 5s;
	transform: translateZ(70px);
	animation-name: sC;
        z-index: -1 !important;
}

.side .md>blockquote:last-of-type p:nth-of-type(1) {
	animation-duration: 10s;
        z-index: -1 !important;
}

@keyframes sw {
	to {
		transform: translateX(50px)
	}
}

@keyframes sC {
	0% {
		transform: translateY(-1000px) translateZ(70px)
	}
}

@keyframes s {
	0% {
		transform: translateY(-1000px)
	}
}
/* End Addon */